:root {
	font-size: 1rem;
	color: #666;
}

body {
	font-family: 'EB Garamond', serif;
	width: 600px;
	margin-left: auto;
	margin-right:auto;
	color: #444;
}

a {
	text-decoration: none;
	color: #333;
}

a[href], a[href] strong {
	color: #0E4C92;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
	body {
		width: 65%;
	}
}

/* for 700px or less */
@media screen and (max-width: 700px) {
	body {
		width: auto;
		float: none;
	}
}

.title-block {
	text-align: center;
	margin-bottom: 1em;
}

.dedication-block {
	text-align: center;
	font-style: italic;
}

span.nowrap{
	white-space: nowrap;
}

p .equation {
	font-style: italic;
}

.equation td {
 	padding-left: 3em;
}

.equation th {
	padding-right: 3em;
}

.equation td, .equation th {
	border-style: none;
}

.figure {
	max-width: 100%;
}

.figure img {
	max-width: 100%;
}

.caption {
	margin-left: 8%;
	max-width: 84%;
	text-align: justify;
}

ul ul li {
	list-style-type: none;
}

ul {
	padding-left: 1em;
}

.correction {
	border: solid 1px red;
}

cite {
	font-style: normal;
}

blockquote {
	border-left: none;
}

blockquote cite {
	font-style: italic;
}

.data {
	margin-left: 8%;
	max-width: 84%;
}

.data th {
	font-style: italic;
	text-decoration: underline;
	border-style: none;
}

.data td {
	text-align: right;
	border-style: none;
}

.data caption {
	text-align: left;
}

.sitenav-bottom td {
	border-style: solid none none;
	border-top-color: #E5E5E5;
	border-top-width: 1px;
}