body {
	font-family: 'EB Garamond', serif;
	color: black;
	width: 600px;
	margin-left: auto;
	margin-right:auto;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
	body {
		width: 65%;
	}
}

/* for 700px or less */
@media screen and (max-width: 700px) {
	body {
		width: auto;
		float: none;
	}
}

.title-block {
	text-align: center;
	margin-bottom: 1em;
}

span.nowrap{
	white-space: nowrap;
}
